[graph]
all-features = false
no-default-features = true

[advisories]
vulnerability = "warn"
unmaintained = "warn"
yanked = "warn"
notice = "warn"

[licenses]
unlicensed = "deny"
allow = [
  "MIT",
  "Apache-2.0",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "ISC",
  "Unicode-DFS-2016"
]
confidence-threshold = 0.8

[bans]
multiple-versions = "allow"
wildcards = "deny"
